.cardsItem {
    display: flex;
    padding: 1rem;
    text-align: center;
    @media(min-width: 40rem) {
        width: 100%;
    }
    @media(min-width: 56rem) {
        width: 80%;
    }
}

.card {
    background-color: white;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5%;
}
.content {
    padding: 10px;
}

.content p {
    margin: 0;
    padding: 0;
}

.cardImage {
    filter: contrast(70%);
    justify-content: center;
    align-items: center;
}

.cardImage img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile {
    background-color: #1ed760;
    color: white;
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 20px;
} 
