.container {
    background-color: #1f2a40;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.close {
    font-size: 1.6vw;
    display: flex;
    align-self: flex-end;
    color: white;
}

.form {
    padding-top: 20px;
}

.title {
    color: white;
    font-size: 3.3vw;
    text-wrap:wrap;
    align-self: start;
    margin: 0;
    margin-top: 2%;
}

.text {
    font-size: 1.6vw;
}

.form {
    padding: 15px;
    height: 100%;
    width: 37.5vw;
    display: flex;
    flex-direction: column;
    color: white;
}

.inputForm {
    width: 37.5vw;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 2px solid white;
    color: white;
} 

.input {
    width: 100%;
    height: 8.3vh;
    font-size: 2vw;
    border: none;
    color: white;
    background-color: #1f2a40;
}

.input::placeholder {
    color: white;
}

.input:focus {
    outline: none;
}

.icon {
    font-size: 3.3vw;
    background-color: #1f2a40;
}

.spinner {
    display: flex;
    align-self: center;
    padding-top: 20px;
    padding-right: 10%;
}

.onSubmit {
    display: flex;
    align-self: flex-end;
    padding-top: 20px;
}

.buttonSubmit {
    width: 16.6vw;
    height: 6vh;
    font-size: 2vw;
    font-weight: bold;
    color: #1f2a40;
    background-color: white;
    border: none;
    border-radius: 10px;
}

@media only screen and (min-width: 1920px) {
    .buttonSubmit {
        border-radius: 20px;
    }
}
