.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #ccc;
}

.profileImage {
    padding: 20px;
}

.profileImage img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    max-width: 100%;
    align-self:center;
}

.profileInfo p{
    margin: 0;
    padding: 0;
}

.profileInfo h3{
    margin: 0;
    padding: 0;
}

.alias {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.logoutBtn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    background-color: transparent;
    border: none;
    color: #535353;
    padding-top: 10px;
}

.icon {
    padding: 2px;
}

.optionSection {
    width: 100%;
    display:flex;
    flex-direction: column;
    border: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
}
