.container {
    display: flex;
    flex-direction: column;
    width: 21.3vw;
    background-color: #1f2a40;
    color: white;
    border-radius: 0 71px 71px 0;
}

.profile {
    width: 90%;
    height: 15.7vh;
    align-self: center;
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1px solid #ccc;
}

.profileImage {
    width: 5vw;
    height: 9vh;
    padding: 5%;
}

.profileImage img {
    width: 5vw;
    height: 9vh;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
    align-self:center;
}

.profileInfo p{
    margin: 0;
    padding: 0;
    color: #687684;
    font-size: 1.67vw;
}

.profileInfo h3{
    margin: 0;
    padding: 0;
    font-size: 1.67vw;
}

.alias {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}

.optionSection {
    width: 90%;
    display:flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
}

.option {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 12px;
    text-decoration: none;
    color: white;
}

.option:active {
    background-color: #e4e4e4;
}

.option:visited {
    color: white;
}

.option:hover {
    background-color: #535353;
    border-radius: 10px 0 0 10px;
}

.textOption {
    width: 90%;
    color: white;
    font-size: 1.9vw;
}

.icon {
    font-size: 3.3vw;
    padding: 2px;
}