.container {
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #e4e4e4;
}

.perfil {
    height: 85vh;
    width: 20%;
    background-color: white;
}

.section {
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #e4e4e4;
    overflow: hidden;
    justify-content: flex-start;
}

.divTitle {
    height: 10vh;
    margin: .5% 2%;
}

.divTitle h2{
    margin: 0;
    padding: 0;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #1ed760;
}

.searchBar {
    height: 5vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin: .5% 2%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    justify-content: space-between;
}

.searchBar input {
    width: 90%;
    border: none;
    border-color: transparent;
    background-color: transparent;
    margin-left: 5px;
}

.searchBar input:focus {
    outline: none;
}

.search {
    width: 5%;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;;
    align-self: center;
}

.cardContainer {
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    margin: 0 2%;
    padding: 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 2%;
    margin: 0;
    padding: 0;
}

.cardContainer::-webkit-scrollbar {
    width: 10px;
}

.cardContainer::-webkit-scrollbar-track {
    background: #232E33;
    border-radius: 10px;        
}

.cardContainer::-webkit-scrollbar-thumb {
    background-color: #1ed760;    
    border-radius: 10px;       
    border: 1px solid #232E33
}
