.container {
    background-image: url('https://media.product.which.co.uk/prod/images/1500_750/gm-bf924f18-377d-4517-bcd7-2b4e040bedd7-mobile-phone-providers.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: left;
    padding-left: 5%;
}

.title {
    color: #1ed760;
    font-size: 50px;
    font-weight: bold;
    text-wrap:wrap;
    margin: 0;
    padding: 0 10%;
}

.containerForm {
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5%;
}

.form {
    height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputForm {
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 20px;
    color: #1ed760;
    border-bottom: 1px solid #535353;
} 

.input {
    width: 100%;
    border: none;
    writing-mode: horizontal-tb;
    color: #1ed760;
}

.input::placeholder {
    color: #1ed760
}

.input:focus {
    outline: none;
}

.forgotPassword {
    align-self: flex-end;
    padding-top: 1%;
    padding-right: 10%;
    color: #1ed760;
    font-size: 10px;
}

.onSubmit {
    display: flex;
    align-self: flex-end;
    padding-top: 20px;
    padding-right: 10%;
}

.spinner {
    display: flex;
    align-self: center;
    padding-top: 20px;
    padding-right: 10%;
}

.buttonSubmit {
    width: 80px;
    height: 25px;
    color: white;
    background-color: #1ed760;
    border: none;
    border-radius: 10px;
}

.federate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 5vh;
    margin: 10% 0;
    padding: 1% 2%;
    border: 1px solid black;
    border-radius: 10px;
}

.federate button {
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: right;
}