.container {
    width: 100%;
    height: 100vh;
    background-color: #535353;
    color: #1ed760;
}

.divTitle {
    height: 10vh;
    margin: .5% 2%;
}

.divTitle h2{
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: flex-start;
}

.postsContainer {
    height: 80vh;
    max-height: 80vh;
    overflow-y: auto;
    margin: 0 2%;
    padding: 0;
}

.posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    gap: 2%;
    margin: 0;
    padding: 0;
}

.postsContainer::-webkit-scrollbar {
    width: 10px;
}

.postsContainer::-webkit-scrollbar-track {
    background: #232E33;
    border-radius: 10px;        
}

.postsContainer::-webkit-scrollbar-thumb {
    background-color: #1ed760;    
    border-radius: 10px;       
    border: 1px solid #232E33
}
